/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
nav{
    width: 1440px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 35px 150px;
}
.name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
nav ul .btn{
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
}
.banner{
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
}
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 26px 221px 44px;
}
.banner-container img{

    margin-top: 26px;
    margin-bottom: 32px;

}
.banner-header{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.banner-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;
}
.banner-btn{
    padding: 19px 22px 19px 22px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(13, 19, 33);

}
.first{
    width: 1140px;
    height: 1392px;
background-color: rgba(13, 19, 33, 0.02);
margin:74px 152px 52px 148px;
padding: 80px 97px;
display: flex;
flex-direction: column;
text-align: center;
}
.first .card-header{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.card-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 48px;
}
.first-card{
    display: flex; 
    align-items: center;
    padding: 48px;
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin-bottom: 32px;
}

.second-card{
    display: flex; 
    align-items: center;
    padding: 48px;
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin-bottom: 32px;
justify-content: space-between;
}
    .third-card{
        display: flex; 
        align-items: center;
        padding: 48px;border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    }
    .btn-frimary{
        color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
/* text-align: center; */
        box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin-top: 48px;
margin-right: 320px;
    }
.header-primary{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16;
margin-right: 78px;
}
.p-primary{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-right: 9px;
}
.first-card-style{
    margin-right: 98px;
}
.second-card-style{
    margin-right: 98px;
}
.third-card-style{
    margin-right: 98px;
}
.second{
    width: 1140px;
    height: 775px;
    margin-right: 152px;
    margin-left: 148px;
}
.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second .inspiration h3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.second .inspiration p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 48px;
}
.youtube{
    height: 614px;
    width: 1040px;
    padding: 10px 10px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin-bottom: 152px;

}
.box{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
}
.box .box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 460px;
}
.box-header{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    margin-left: 294px;
    margin-right: 294px;
}
.box-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-left: 247px;
margin-right: 247px;
}
.box-all{
    display: flex;
    margin-top: 46px;
    gap: 24px;
}
.box-first{
    padding: 40px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.box-second{
    padding: 40px;border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}
.box-third{
    padding: 40px;
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.box-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin-top: 24px;
border: none;
}
.box-h{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-top: 8px;
}
.box-hp{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-top: 24px;
}
.support{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 80px;
    height: 313px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 48px;
    border-radius: 16px;
}
.supporrt-h{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
.support-p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 24px;
}
#btn input{
    width: 548px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.support-btn{
    padding: 15px 20px 19px 20px;
    color: rgb(13, 19, 33);
    border-radius: 8px;
background: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;